{{ use('yii/bootstrap/ActiveForm') }}
{{ use('Yii') }}

{% set form = active_form_begin({
    'id' : 'opensearch-form',
    'action' : [null],
}) %}

<div class="opensearch">
    <div class="row">
        {% if renderSearchbox == true %}
        <div class="col-md-12">
            <p>{{ html.textInput('query', query) | raw }} {{ html.submitButton('Submit') | raw }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="osscmnrdr oss-result">
                {% for result in results %}
                <div class="osscmnrdr ossfieldrdr1">
                    <a target="_top" href="{{ result.getField('url') }}">{{ loop.index }}. {{ result.getField('title') }}</a>
                </div>
                <div class="osscmnrdr ossfieldrdr2">
                    {{ result.getField('content') }}
                </div>
                <div class="osscmnrdr ossfieldrdr3">
                    {{ result.getField('url') }}
                </div>
                <br />
                {% endfor %}
                <div class="osscmnrdr oss-paging text-center">
                    {% for i in 1..pages %}
                    {% if pages > 1 %}
                    {% if i == page %}
                    <strong><a href="?query={{ query | url_encode }}&amp;page={{ i }}" class="osscmnrdr oss-currentpage">{{ i }}</a></strong>
                    {% else %}
                    <a href="?query={{ query | url_encode }}&amp;page={{ i }}" class="osscmnrdr">{{ i }}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{{ active_form_end() }}